body {
  background: #333;
  font-family: 'Arial', sans-serif;
}
.form {
  width: 300px;
  background: rgb(245, 245, 245);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 50px;
}
.form__title {
  text-align: center;
}
.form-wrap {
  width: 70%;
  margin: 0 auto;
}
.form__input {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #c2c2c2;
  margin-top: 10px;
}
label {
  font-weight: 600;
}
.buttons {
  display: flex;
  justify-content: center;
}
.form__btn {
  background: #1A73E8;
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer; 
}
.none {
  display: none;
}
.error {
  border-color: red;
  box-shadow: 0 0 5px red;
}