body {
  background: #333;
}
.container {
  max-width: 90%;
  width: 100%;
  margin: 50px auto;
}
.title {
  color: #fff;
  text-align: center;
}
.card {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.none {
  display: none;
}
input, textarea {
  display: block;
}